<div id="wrapper">
    <app-sidebar></app-sidebar>

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-header>

            </app-header>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Offres</h1>
                </div>


            </div>
            <div class="col ml-2">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Listes des offres</h6>
                    </div>
                    <div *ngIf="numberOffres==0;else show">
                        <h2 class="text-center">Aucune donneés disponible</h2>
                    </div>
                    <ng-template #show>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Titre</th>
                                        <!-- <th>Site Internet</th> -->
                                        <th>Type</th>
                                        <th>dateExpir</th>
                                        <th>datePub</th>
                                        <th>Etat</th>
                                        <!-- <th>Logo</th> -->
                                        <th>Entreprise</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let offre of listeOffres">
                                        <td>{{offre.id}}</td>
                                        <td>{{offre.titre}}</td>
                                        <!-- <td>{{offre.site}}</td> -->
                                        <td>{{offre.type}}</td>
                                        <td>{{offre.dateExpir}}</td>
                                        <td>{{offre.datePub}}</td>
                                        <td *ngIf="offre.etat==0;else sh" style="    color: #186fc9;
                                        border-color: #186fc9;
                                        background-color: #f1f7fc;">En cours
                                        </td>
                                        <ng-template #sh>
                                            <td style="    border-color: #26ae62;
                                            background-color: #e9fff3;
                                            color: #26ae62;">Accepte</td>
                                        </ng-template>
                                        <td><img width="40px" src="{{offre.entreprise.logo}}">{{offre.entreprise.nom}}
                                        </td>

                                        <!-- <td><img *ngIf="offre.logo;else image" [src]="offre.logo" alt="" width="100px"
                                                height="100px"></td> -->
                                        <!-- <ng-template #image><img
                                                src="https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg"
                                                width="100px" height="100px">
                                        </ng-template> -->

                                        <td>
                                            <button *ngIf="offre.etat==0" class="btn btn-sm btn-success "
                                                (click)="modifierOffre(offre.id)" title="Accepter">
                                                <i class="fa fa-check-square-o"></i>
                                            </button>
                                            <button class="btn btn-sm btn-danger" (click)="supprimerOffre(offre)"
                                                title="Refuser">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>

                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->

    </div>
</div>