<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="./../index.html">Espace administrateur</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="btn btn-sm btn-info mt-1" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-light mx-3 mt-1" routerLink="/register">Register</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form class="user" [formGroup]="loginForm" (ngsubmit)="loginAdmin()">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address..." formControlName="email">
                                    </div>
                                    <div *ngIf="email?.touched && email?.invalid">
                                        <small class="text-danger" *ngIf="email?.errors?.['required']">Email
                                            est obligatoire</small>
                                        <small class="text-danger" *ngIf="email?.errors?.['email']">Respecter le format
                                            de l'Adresse email</small>

                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" formControlName="mdp">
                                    </div>
                                    <div *ngIf="mdp?.touched && mdp?.invalid">
                                        <small class="text-danger" *ngIf="mdp?.errors?.['required']">Mot de passe
                                            est obligatoire</small>

                                    </div>
                                    <button type="submit" (click)="loginAdmin()"
                                        class="btn btn-primary btn-user btn-block">
                                        S'inscrire</button>

                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" routerLink="/forgotpassword">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="./register.html">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>